<!doctype html>
<html lang="en">
<%- include('layouts/head') -%>
<body>
<header class="home-intro">
    <%- include('layouts/navbar') -%>
    <div class="container">
        <div class="row justify-content-center align-items-center text-center" style="height: 80vh;">
            <div class="col-lg-7">
                <h1 class="display-4 fw-bold">Welcome to HomeFinder</h1>
            </div>
        </div>
    </div>
</header>

<main>
    <section class="container my-5 py-5">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
            <!-- content -->
            </div>
        </div>
    </section>
</main>

<%- include('layouts/scripts') -%>
</body>
</html>