<!doctype html>
<html lang="en">
<%- include('layouts/head') -%>
<body>
<header class="home-intro">
    <%- include('layouts/navbar') -%>
    <div class="container">
        <div class="row justify-content-center align-items-center text-center"
             style="height: 90vh;">
            <div class="col-lg-12">
                <h1 class="display-5 text-white fw-bold">JAKKS Management</h1>
                <p class="lead mb-3">
                    The Non-Profit Housing Management Program
                </p>
                <a href="#contact" class="btn btn-outline-light btn-md me-2">Contact Us</a>
                <a href="#contact" class="btn btn-outline-light btn-md me-2">Donations</a>
            </div>
        </div>
    </div>
</header>

<main>
    <section class="container my-5 py-5">
        <div class="row justify-content-center flex-row-reverse mb-5 pb-3">
            <div class="col-md-6 mb-3">
                <h2 class="fw-bold display-6">Our Housing Programs</h2>
                <p class="mb-2">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet explicabo laborum minima nulla reiciendis voluptatem. Excepturi mollitia non quae repellendus vero. Blanditiis commodi, ex facere impedit iste nam quam velit!
                </p>
                <ul class="list-group mb-3">
                    <li class="list-group-item bg-transparent border-0 py-0 px-2">
                        <i class="bi-check"></i> Lorem ipsum dolor sit amet
                    </li>
                    <li class="list-group-item bg-transparent border-0 py-0 px-2">
                        <i class="bi-check"></i> Lorem ipsum dolor sit amet
                    </li>
                    <li class="list-group-item bg-transparent border-0 py-0 px-2">
                        <i class="bi-check"></i> Lorem ipsum dolor sit amet
                    </li>
                </ul>
                <a href="" class="btn btn-outline-dark">Donate Today</a>
            </div>
            <div class="col-md-6 mb-3">
                <!-- content -->
                <img src="https://architizer-prod.imgix.net/media/mediadata/uploads/162274405524010.jpg"
                     class="img-fluid rounded-3 shadow-lg"
                     alt="About Our Programs"
                />
            </div>
        </div>
        <div class="row justify-content-center align-items-center mb-5 text-center">
            <div class="col-md-4 mb-3">
                <div class="card p-3">
                    <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </p>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card p-3">
                    <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </p>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card p-3">
                    <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center flex-row-reverse align-items-center mb-5">
            <div class="col-md-6 mb-3">
                <img src="/assets/holding-keys.png" class="img-fluid" alt="JAKKS Management">
                <h3>
                    At JAKKS Management, we bring a fresh perspective to property management
                </h3>
            </div>
            <div class="col-md-6 mb-3">
                <p class="lead">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus, commodi, cumque ea enim expedita illo nulla optio quibusdam, reprehenderit saepe temporibus veniam voluptas voluptate voluptates! Nam porro quos reiciendis.
                </p>
            </div>
            <div class="col-md-12 text-center mt-3">
                <hr>
                <q>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus adipisci amet aperiam aspernatur cumque dolore earum eligendi esse, explicabo in maxime nemo neque nesciunt, nobis placeat repellat, sapiente similique totam.
                </q>
                <hr>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="card">
                    <img src="https://placehold.co/600x400" class="card-img-top" alt="img example">
                    <div class="card-body">
                         <h5 class="card-title">Card title</h5>
                         <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="card">
                    <img src="https://placehold.co/600x400" class="card-img-top" alt="img example">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="card">
                    <img src="https://placehold.co/600x400" class="card-img-top" alt="img example">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="card">
                    <img src="https://placehold.co/600x400" class="card-img-top" alt="img example">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<%- include('layouts/footer') -%>
<%- include('layouts/scripts') -%>
</body>
</html>