<!doctype html>
<html lang="en">
<%- include('layouts/head') -%>
<body>
<%- include('layouts/navbar2') -%>

<main>
    <section class="container my-5 py-5">
        <div class="row justify-content-center align-items-center mt-5">
            <div class="col-lg-8">
                <div class="card p-3">
                    <h1 class="mb-3">Upload Housing Listing</h1>
                    <form action="/store/listing" method="post" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <input type="text" name="title" placeholder="Listing Title" class="form-control">
                            </div>
                            <div class="col-md-6 mb-3">
                                <input type="text" name="contact" placeholder="Contact Person" class="form-control">
                            </div>
                            <div class="col-md-6 mb-3">
                                <input type="text" name="location" placeholder="Listing Location" class="form-control">
                            </div>
                            <div class="col-md-6 mb-3">
                                <input type="email" name="email" placeholder="Contact Email" class="form-control">
                            </div>
                            <div class="col-md-6 mb-3">
                                <small>Main Image</small>
                                <input type="file" name="image" accept="image/*" class="form-control">
                            </div>
                            <div class="col-md-6 mb-3">
                                <small>Optional Image</small>
                                <input type="file" name="image2" multiple accept="image/*" class="form-control">
                            </div>
                            <div class="col-md-12">
                                <textarea name="description" id="description" placeholder="Listing description" class="form-control mb-3" rows="5"></textarea>
                                <button class="btn btn-primary" type="submit">upload listing</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>

<%- include('layouts/scripts') -%>
</body>
</html>