<footer class="text-dark py-5 bg-body-tertiary">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="text-center lead">Copyright &copy; 2022</p>
            </div>
        </div>
    </div>
</footer>