<footer class="text-dark py-5 bg-body-tertiary">
    <div class="container">
        <div class="row justify-content-center align-items-center d-flex mx-auto text-center">
            <div class="col-md-12">
                Follow Us:
                <a href="" class="text-decoration-none">
                    <i class="bi bi-facebook text-dark"></i>
                </a>
                <a href="" class="text-decoration-none">
                    <i class="bi bi-twitter text-dark"></i>
                </a>
                <a href="" class="text-decoration-none">
                    <i class="bi bi-instagram text-dark"></i>
                </a>
                <a href="" class="text-decoration-none">
                    <i class="bi bi-linkedin text-dark"></i>
                </a>
                <br>
                <p class="h6">Copyright &copy; 2025 - <a href="" class="text-decoration-none">JAKKS Management</a></p>
            </div>
        </div>
    </div>
</footer>