<nav class="navbar navbar-expand-md fixed-top navbar-dark nav-dark" id="navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/assets/half-logo.png" height="35" width="55" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        About Us
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Our Team</a></li>
                        <li><a class="dropdown-item" href="#">Programs</a></li>
                        <li><a class="dropdown-item" href="/listings">Listings</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Involvement
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Get Listed</a></li>
                        <li><a class="dropdown-item" href="#">Assistance</a></li>
                        <li><a class="dropdown-item" href="#">Community</a></li>
                    </ul>
                </li>
                <% if(loggedIn) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/newListing">Upload</a>
                    </li>
                <% } %>
            </ul>
            <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                <% if(!loggedIn) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/register">SignUp</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                <% } else { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>